{% extends "ave/base.html" %}

{% block title %} Archive {% endblock %}
{% block content %}
    {% for ses in sessions %}
        <div class="archive_record">
            <div class="shortname_activity {{ses.id_activity.color}}7">{{ ses.id_activity.shortname_activity }}</div>
            <div class="date {{ses.id_activity.color}}3">{{ ses.date|date:"d M" }}</div>
            <div class="title {{ses.id_activity.color}}3">{{ ses.title }}</div>
            {% if ses.description %}
                <div class="description {{ses.id_activity.color}}3">{{ ses.description }}</div>
            {% endif %}  
        </div>
    {% endfor %}
{% endblock %}