{% extends "ave/base.html" %}

{% block title %} Archive {% endblock %}
{% block content %}
    {% for ses in sessions %}
        <div class="archive_record">
            <div class="shortname_activity">{{ ses.id_activity.shortname_activity }}</div>
            <div class="date">{{ ses.date }}</div>
            <div class="title">{{ ses.title }}</div>
            <div class="description">{{ ses.description }}</div>
        </div>
    {{ ses.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}