<!DOCTYPE html>
<html>
<head>
    <title>Ave</title>
    <meta charset="utf-8">
    {% load static %}
    <link href={% static 'ave/css/base.css' %} type="text/css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="nav-item"><a href="/archive/" class="btn_header">Архив</a></div>       
        <div class="nav-item"><a href="/tracker/" class="btn_header">Трекер</a></div>       
        <div class="nav-item"><a href="/" class="btn_header">...</a></div>
        {% comment %}
        <div class="nav-item"><img src={% static 'ave/img/ava.png'%} class="img_ava"/></div>     
        {% endcomment %}
    </header>

    {% block content %}{% endblock %}

</body>
</html>