<!DOCTYPE html>
<html>
<head>
    <title>Ave</title>
    <meta charset="utf-8">
    {% load static %}
    <link href={% static 'ave/css/base.css' %} type="text/css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="left_container">
            <!---->
        </div>
        <div class="middle_container">
            <div class="nav-item"><a href="/archive/" class="btn_header">Архив</a></div>       
            <div class="nav-item"><a href="/tracker/" class="btn_header">Трекер</a></div>       
            <div class="nav-item"><a href="/" class="btn_header">...</a></div>
        </div> 
        <div class="right_container">
            <div><a href="/" class="user_name">gedfalk</a></div>
            <div class="nav_item"><a href="/"><img class="img_ava" src={% static 'ave/img/ava_3.png'%}/></a></div>            
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
</html>