{% extends "ave/base.html" %}

{% block title %} Tracker {% endblock %}
{% block content %}
<div class="heatmap_calendars">

    {% for ses in sessions %}
        
        
            <!-- Собственно heatmap календарь -->
            <div class="heatmap">
                <div id="cal-heatmap">
                ___{{ ses.id_activity__name_activity }}___
                {% load static %}
                <script type="text/javascript" src={% static 'tracker/js/cal-heatmap.js' %}></script>
                </div>
            </div>


    {% endfor %}
</div>


   


    

{% endblock %}