{% extends "ave/base.html" %}

{% block title %} Tracker {% endblock %}
{% block content %}

    {% for ses in sessions %}
        <spam>
        {{ ses.date }}
        ___{{ ses.id_activity }}___
        {{ ses.title }}
        </spam>
    {% endfor %}



    <!-- Собственно heatmap календарь -->
    <div id="cal-heatmap"></div>
    <script type="text/javascript">
	    var cal = new CalHeatMap();
	    cal.init({
            //domain: "month",
            domain: "week",
            subDomain: "day",
            range: 30,
            cellSize: 25,
            cellPadding: 3,
            cellRadius: 5,
            label: {position: "top"},
            domainLabelFormat: "",
            subDomainTextFormat: "%d",      // убрать нолик
            
            // с базовым цветом пока непонятно
            legendColors: {
                //min: "#999CDF",
                min: "#ededed",
                max: "#070B56",
                //base: "#ededed"
                //empty: "#ededed"
            },

            tooltip: true,
            
            start: new Date(2021, 9, 15),
            //displayLegend: false,
            legendCellSize: 30,
        });
    </script>


    

{% endblock %}