.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 5vh;
  background-color: #748CBC;
  padding: 8px 50px;

}

.nav_item {
  display: block;

}

a.btn_header {
  color: #3B5993;
  background-color: #839FD4;
  text-decoration: none;

  margin-right: 3rem;
  /*border-color: #748CBC;*/
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}
