body {
  margin: 0;
  padding: 0;
}

/******************  Header  ****************/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 5vh;
  background-color: #748CBC;
  padding: 0.5rem 0.5rem;
}

.left_container {
  flex-grow: 1.2;     /*подправить эту дичь*/
  display: flex;
  justify-content: flex-start;
}

.middle_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.right_container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn_header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 3rem;
  padding: 0.4rem 3rem;  
  border-radius: 0.3rem;
}

a.btn_header {
  color: #3B5993;
  background-color: #839FD4;
  box-shadow: 0 0 0.5rem;
}

a.btn_header:hover {
  color: #3B5993;
  box-shadow: 0 0 1rem #233558;
  background-color: #83a3e4;
}

a.user_name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;  
  margin-right: 0.5rem;
  color: #3B5993;
}

a.user_name:hover {
  color: #4164aa;
}

.img_ava {
  background: transparent;
  width: 2.75rem;
}


